---
import Layout from '@/layouts/Layout.astro';
import Providers from '@/components/Providers';
import Header from '@/components/Header';
import Footer from '@/components/Footer';
import ServicesSection from '@/components/ServicesSection';
---

<Layout title="Servicii - Smart Auto">
  <Providers client:load>
    <div class="flex flex-col min-h-screen">
      <Header client:load />
      <main class="flex-grow pt-24">
        <ServicesSection client:visible />
      </main>
      <Footer />
    </div>
  </Providers>
</Layout> 